* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  background: var(--light-gray-color);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
}

input,
button,
textarea,
select {
  margin: 0;
  font: inherit;
}
